/* body {
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 20px;

}

.banner {
  width: 100%;
}

.title {
  text-align: center;
}

.container {
  column-width: 300px;
  column-gap: 2em;
  padding-bottom: 10px;
}

.paragraph {
  margin-top: 0px;
  font-size: 1.2em;
}

.col-img {
  width: 100%;
} */

h1 {
  box-sizing: border-box;

  border-radius: 25px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #6d6875;
  display: flex;
  justify-content: center;
  font-style: bold;
  background-color: #E5989b;
}

/* .column {
  background-color: black;
} */

/* h2 {
  box-sizing: border-box;
} */


.recentflight {
  color: #6d6875;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  box-sizing: border-box;
  float: left;
  border-radius: 25px;
  background: #ffb4a2;
  padding: 20px;
  width: 50%;
  height: 150px;
}

.moreflights {
  color: #ffcdb2;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  box-sizing: border-box;
  float: left;
  border-radius: 25px;
  background: #6d6875;
  padding: 20px;
  width: 50%;
  height: 150px;
}